*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
  overflow-x:hidden;
}

/* HEADER */

.header{
  position:fixed;
  top:0;
  width:100%;
  z-index:999;
  background:#000;
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.nav{
  width:90%;
  max-width:1400px;
  margin:auto;
  height:90px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:48px;
  font-weight:900;
}

.menu{
  display:flex;
  gap:40px;
}

.menu a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  font-size:18px;
}

/* HERO */

.hero{
  position:relative;
  min-height:100vh;
  overflow:hidden;
  display:flex;
  align-items:center;
  padding:0 8%;
  background:
  radial-gradient(circle at center,#d69a2d33,transparent 45%),
  #000;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:
  linear-gradient(to right,#000 35%,transparent 70%);
  z-index:1;
}

.hero-content{
  position:relative;
  z-index:2;
  width:50%;
}

.mini-title{
  color:#d4af37;
  letter-spacing:6px;
  font-size:22px;
}

.hero h1{
  font-size:160px;
  line-height:0.9;
  margin:25px 0;
  font-weight:900;
}

.hero-divider{
  width:180px;
  height:3px;
  background:#d4af37;
  margin-bottom:30px;
}

.hero p{
  font-size:24px;
  margin-bottom:25px;
  color:#ddd;
}

.hero h3{
  font-size:30px;
  color:#bbb;
  max-width:700px;
  line-height:1.5;
  margin-bottom:50px;
  font-weight:400;
}

.hero-button{
  display:inline-block;
  padding:22px 55px;
  background:#d4af37;
  color:#000;
  border-radius:60px;
  text-decoration:none;
  font-size:22px;
  font-weight:bold;
  transition:0.3s;
}

.hero-button:hover{
  transform:scale(1.05);
}

.hero-image{
  position:absolute;
  right:0;
  bottom:0;
  height:95vh;
  object-fit:contain;
  z-index:1;
  filter:
  drop-shadow(0 0 40px rgba(212,175,55,0.25));
}

/* SOBRE */

.sobre{
  padding:140px 8%;
  text-align:center;
  background:#050505;
}

.sobre h2{
  font-size:70px;
  margin-bottom:40px;
}

.sobre p{
  font-size:28px;
  color:#bbb;
  max-width:1000px;
  margin:auto;
  line-height:1.7;
}

/* REDES */

.social{
  padding:140px 8%;
  background:#000;
  text-align:center;
}

.social h2{
  font-size:70px;
  margin-bottom:70px;
}

.social-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:40px;
  max-width:1300px;
  margin:auto;
}

.social-card{
  background:#111;
  border:1px solid rgba(255,255,255,0.06);
  border-radius:30px;
  padding:60px 30px;
  transition:0.3s;
  text-decoration:none;
  color:white;
}

.social-card:hover{
  transform:translateY(-10px);
  border:1px solid #d4af37;
}

.social-card h3{
  font-size:34px;
  margin:25px 0 10px;
}

.social-card p{
  color:#bbb;
  font-size:20px;
}

.icon{
  font-size:80px;
}

/* FOOTER */

.footer{
  padding:40px;
  text-align:center;
  border-top:1px solid rgba(255,255,255,0.08);
  color:#888;
}

/* RESPONSIVO */

@media(max-width:1100px){

.hero{
  padding-top:180px;
  text-align:center;
  justify-content:center;
}

.hero-content{
  width:100%;
}

.hero-image{
  position:relative;
  height:500px;
  margin-top:50px;
}

.hero{
  flex-direction:column;
}

.hero h1{
  font-size:90px;
}

.hero-divider{
  margin:auto auto 30px;
}

.hero h3{
  margin:auto auto 40px;
}

.nav{
  flex-direction:column;
  height:auto;
  padding:20px 0;
  gap:20px;
}

}
